<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <mapper namespace="com.ssm.dao.WatchUser">
 <insert id="watchUser" parameterType="map">
 	INSERT INTO 
 			t_watch
 			(loginusername,username,id)
 		VALUES 
 			(#{0},#{1},#{2})
</insert>
 </mapper>